@model IEnumerable<Fitlife.Domain.Entities.FoodTracker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PortionCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PortionCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FoodTrackerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FoodTrackerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FoodTrackerID })
        </td>
    </tr>
}

</table>
