@using Fitlife.WebUI.Helpers

@model Fitlife.Domain.Entities.BlogItem

@helper UserShouldLikeOrDislike(Fitlife.Domain.Entities.BlogItem item, string TrueResponse, string FalseResponse) {
    int userId = ((Fitlife.Domain.Entities.User)Session["user"]).UserID;
    if (item.Likes.Any(x => x.UserID == userId)) {
        @TrueResponse
    } else {
        @FalseResponse
    }                    

}

@{ var blogItem = @Model;}

                <div class="media user-blog-item">
                    <div class="person">
                    <a class="pull-left photo styler_parent" href="#">
                        <i class="styler_border_color"></i>
                        <span class="img">
                            <img class="media-object" src="@blogItem.User.Photo" style="height: auto; width: auto; max-height:100px; max-width:100px"/>
                        </span>
                    </a>
                        </div>
                    <div class="media-body">
                        <h4 class="media-heading">@blogItem.User.Name</h4>
                        <p id="raw-date" class="text-muted">@Html.TimeAgo(@blogItem.Date)</p>
                        <span>@blogItem.Body</span>
                        <ul class="list-unstyled list-inline">
                            <li><a class="btn btn-link btn-success" data-toggle="collapse" data-target="@String.Format("#{0}comment", blogItem.BlogItemID)"><span class="label label-primary">@blogItem.Comments.Count() comments</span> </a></li>
                            <li><a class="btn btn-link text-muted"><span class="label label-primary">@blogItem.Likes.Count() likes</span></a></li>
                            <li><a class="btn btn-link btn-success" href='@( Url.Action("SaveBlogLike", "Social", new { blogItem = @blogItem.BlogItemID }))' style='@(UserShouldLikeOrDislike(blogItem, "color:#ddd", ""))'>
                                @(UserShouldLikeOrDislike(blogItem, "Unlike", "Like"))
                                <i class="icon-thumbs-up-alt"></i>
                            </a></li>
                        </ul>
                        <hr class="main-divider" />
                        <div id='@String.Format("{0}comment", blogItem.BlogItemID)' class="collapse in">
                        @foreach (var blogComment in blogItem.Comments)
                        {
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="@blogComment.User.Photo" style="height: auto; width: auto; max-height:50px; max-width:50px"/>
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">@blogComment.User.Name</h4>
                                    <small class="text-muted">@Html.TimeAgo(blogComment.Date)</small>

                                    <p>@blogComment.Body</p>
                                </div>

                            </div>
                        }
                        </div>
                        </div>
                    </div>