@model IEnumerable<Fitlife.Domain.Entities.User>

@{
    ViewBag.Title = "People";
    Layout = "~/Views/Social/_SocialLayout.cshtml";
}
<div class="container">
    
    <div class="row">
        <div class="span12">
            @using (Html.BeginForm("SearchPeople", "Social"))
            {
                @Html.Label("Search People");
                @Html.TextBox("search", "", new { @class = "input-medium search-query", @placeholder = "Search", @id = "peoplesearchbox" });
            }
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-pills nav-stacked">
        @foreach (var p in Model)
        {
                        <li>
                            <a href='@Url.Action("Index", "User", p)'>
                                <span>@p.Name</span>                               
                                <span> @p.Email</span>
                            </a>
                        </li>
        }
            </ul>
    </div>
</div>