@model Fitlife.Domain.Entities.User

@{
    ViewBag.Title = "Signup";
}
<div id="wrapper">
    <div class="container">
       <div class="row" style='max-width:500px; margin-left: auto; margin-right: auto'>
           <div class="col-md-12 contact_form">
            <div class="your-logo">
                <h3 class="title"><a href="index.html">Registration</a></h3>     
            </div>
            @using (Html.BeginForm())
            {
                <div class="form-bg-1">
                @Html.TextBoxFor(x => x.Name, new { @class = "input-block-level form-control", @placeholder = "Full Name*" })
                    </div>
                <div class="form-bg-2">
                @Html.TextBoxFor(x => x.Email, new { @class = "input-block-level form-control", @placeholder = "Email address*" })
                    </div>
                <div class="form-bg-1">
                @Html.PasswordFor(x => x.Password, new { @class = "input-block-level form-control", @placeholder = "Password*" })
                    </div>
                <div class="form-bg-2">
                @Html.PasswordFor(x => x.PasswordConfirmation, new { @class = "input-block-level form-control", @placeholder = "Retype Password*" })
                    </div>
                <div class="row">
                    <div class="col-md-8 form-bg-3">
                        <input type="checkbox" name="terms" id="terms">
                        <label for="terms"><span></span> I agree with <a href="">terms and conditions</a>.</label>
                    </div> 
                    <div class="col-md-4">
                        <input class="button_medium add_top_30" type="submit" value="REGISTER">
                    </div>    
                </div>
            }
            <div class="bottom-text">
                 <p>Already have an account? @Html.RouteLink("Log in", new
{
    controller = "Account",
    action = "Login"
})</p>
            </div>
               </div>
        </div> <!-- /container -->
        </div>
    </div>